@import url("font.css");

/*
폰트 적용 방법!
1. 위에 @import url("font.css")를 꼭 적어준다!
2. 아래 속성을 필요한 속성에 넣어주자
font-family : NotoSansCJKkr-Bold; (굵은 글씨 )
font-family : NotoSansCJKkr-Regular; (보통 글씨 )
font-family : NotoSansCJKkr-Light; (얇은 글씨 )
*/
* {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  /*background-color: #121212; */
  background-image: url('/img/back_img.JPG');
  background-size: 100% 100%;
  min-height: 100vh;
  /*기본 글꼴은 NotoSansCJKkr-Regular (보통 글씨) */
  font-family: NotoSansCJKkr-Regular;
  letter-spacing: -0.07em;

  display: flex;
  justify-content: center;
}

main {
  width: 980px;
  min-height: 100vh;
}
