@import url("font.css");

main .mainpage_community{
    position: relative;
    color: #FFDFE3;
    font-size: 34px;
    font-weight: bold;
    margin-left: 0px;
    margin-top: 150px;
  }

.maincommu_box {
  background-color: rgba(86, 120, 190, 0.5);
  margin-top: 20px;
  width: 1000px;
  height: 1520px;
  border-radius: 15px;
}

.chosenMenu {
  color: #DCE8FF;
  font-size: 30px;
  position: absolute;
  right: 670px;
  top: 70px;
  display: flex;
}

.chosenMenu > li + li {
  margin-left: 30px;
}

.chosenMenu .checkedCategory {
  font-size: 34px;
  color: #92B8FF;
}

.commuTotalBox {
  background-color: #303550;
  position: absolute;
  width: 940px;
  height: 620px;
  top: 130px;
  left: 30px;
  border-radius: 15px;
}

.commuBox {
  background-color: #ffffff;
  color: #555555;
  width: 405px;
  height: 110px;
  border-radius: 15px;
  padding: 10px 20px;
  position: absolute;
  top: 150px;
  left: 45px;
}

.one {
    left:45px;
}

.two {
    left:510px;
}

.picture {
    width:240px;
    height:240px;
    border-radius:40px;
    padding:20px;
}

.title {
    position:relative;
    left:300px;
    bottom:1500px;
    font-size: 24px;
    font-weight: bold;
    padding:5px;
    color:#EBEAEA;
}

.singer {
    position:relative;
    bottom:1460px;
    left:20px;
    font-size: 20px;
    color: #C2C1C1;
    font-weight: lighter;
}

.lyrics {
    position:relative;
    bottom:1425px;
    left:305px;
    font-size: 18px;
    color: #EBEAEA;
    font-weight: lighter;
    line-height: 25px;
}

.lyrics_all {
    position:relative;
    text-align: center;
    bottom:1300px;
    font-size: 18px;
    color: #EBEAEA;
    font-weight: lighter;
    line-height:30px;
}

.utube {
    position:relative;
    bottom:1360px;
    left:25px;
    border-radius:15px;
}