@import url("font.css");

main .videopage_community{
    position: relative;
    color: #FFDFE3;
    font-size: 34px;
    font-weight: bold;
    margin-left: 0px;
    margin-top: 150px;
  }

 .goto_video_main{
    position: absolute;
    left: 550px;
    top: 0px;
    font-size: 34px;
    font-style: normal;
    font-weight: bold;
    line-height: 43px;
  

}
.video_content_box {
  background-color: rgba(86, 120, 190, 0.5);
  margin-top: 20px;

  width: 980px;
  height: 609px;
  border-radius: 15px;
}

.video_content_box_text{
    font-size: 24px;
    position: relative;
    left: 3%;
    top: 5%;
    line-height: 15px;
}

.video_content{
    position: relative;
    width: 940px;
    height: 473px;
    left: 2.3%;
    top: 10%;
    border-radius: 15px;
}
.input_comment{
    position: absolute;
    left: 0px;
    top: 709px;
    width: 980px;
    height: 69px;
    background-color: #FFFFFF;
    border-radius: 15px;    
}
.comment input{
    position: absolute;
    left: 0px;
    width: 85%;
    height: 65px;
    outline: none;
    border: none;
    font-size: 15px;
    border-radius: 15px;
}
.commentBtn input{
    background-color: #FF929E;
    background-image: url('/img/pen.png');
    background-repeat: no-repeat;
    background-position: 90%;
    background-size: 30px;

    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    padding: 10px 15px;
    width: 15%;
    height: 69px;
    margin-left: 85%;
    border-radius: 15px;
    outline: none;
    border: none;
    position: absolute;
    
}
.video_comment{
    position: absolute;
    left: 0px;
    top: 130%;
    
    background-color: rgba(86, 120, 190, 0.5);
    margin-top: 20px;
  
    width: 980px;
    height: 548px;
    border-radius: 15px;    
}

.comment_Box1 {
    background-color: #ffffff;
    color: #555555;
    font-size: 18px;
    width: 96%;
    height: 16%;
    border-radius: 15px;
    padding: 10px 20px;
  
    position: absolute;
    top: 4%;
    left: 2.1%;
  }
  
  .comment_Box2 {
    background-color: #ffffff;
    color: #555555;
    font-size: 18px;
    width: 96%;
    height: 16%;
    border-radius: 15px;
    padding: 10px 20px;
  
    position: relative;
    top: 28%;
    left: 2.1%;
  }
  
  .comment_Box3 {  
    background-color: #ffffff;
    color: #555555;
    font-size: 18px;
    width: 96%;
    height: 16%;
    border-radius: 15px;
    padding: 10px 20px;
  
    position: absolute;
    top: 52%;
    left: 2.1%;
  }
  
  .comment_Box4 {
    background-color: #ffffff;
    color: #555555;
    font-size: 18px;
    width: 96%;
    height: 16%;
    border-radius: 15px;
    padding: 10px 20px;
  
    position: absolute;
    top: 76%;
    left: 2.1%;
  }
  

  .comment_content{
    
    position : relative;
    top: 10px;
    width: 100%;
    height: 60%;
   
    word-break:break-all;
      
  }




 

.chosenMenu {
  color: #DCE8FF;
  font-size: 30px;
  position: absolute;
  right: 670px;
  top: 70px;
  display: flex;
}

.chosenMenu > li + li {
  margin-left: 30px;
}

.chosenMenu .checkedCategory {
  font-size: 34px;
  color: #92B8FF; 
}

.videoTotalBox {
  background-color: #303550;
  position: absolute;
  width: 940px;
  height: 802px;
  top: 130px;
  left: 2%;
  border-radius: 15px;
}

.commuBox {
  background-color: #ffffff;
  color: #555555;
  width: 283px;
  height: 225px;
  border-radius: 15px;
  padding: 10px 20px;
  position: absolute;
  top: 17%;
  left: 45px;
}

.one {
    left:4.5%;
}

.two {
    left:35.5%;
}
.three{
  left:66.5%;
}
.video {
    width:245px;
    height:139px;
    border-radius: 15px;
}

.title {
    position:absolute;
    font-size: 18px;
    font-weight: bold;
    padding:5px;
    top :69%;
}

.writer{
    position:absolute;
    top:82%;
    left:26px;
    font-size: 12px;
    color: #707070;
    font-weight: lighter;
}
.date{
  position: absolute;
  font-size: 12px;
  top: 90%;
  left: 26px;

}
